<div class="game-header">
  <button class="new-game" (click)="newGame()">Start new Game</button>

  <span *ngIf="!winner">Player {{ winner }} won the game!</span>
</div>

<div class="game-container">
  <div class="score-grid">
    <div></div>
    <div class="score-column">
      <i class="icon small icon_o"></i>
      <span>{{ oScore }}</span>
    </div>
    <div></div>
    <div class="score-column">
      <i class="icon small icon_x"></i>
      <span>{{ xScore }}</span>
    </div>
    <div></div>
  </div>
  <div class="board-grid">
    <app-square
      *ngFor="let value of squares; let i = index"
      [value]="value"
      (click)="makeMove(i, false)"
    >
    </app-square>
  </div>
</div>
